name: 'CI'
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - name: Install
        run: npm ci
      - name: Format Check
        run: npx nx format:check
      - name: Lint
        run: npx nx affected -t lint --parallel=3
      - name: Test
        run: npx nx affected -t test --parallel=3 --configuration=ci
      - name: Build
        run: npx nx affected -t build --parallel=3
